.search {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
}

.search__middle {
  border-top: 2px solid #ff7779;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.search input {
  border-radius: 50px;
  width: 50px;
  padding-left: 5px;
  margin-left: 5px;
}

.search input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #ff7779;
}

.search .btn {
  color: white;
  width: 100%;
  text-transform: inherit !important;
  background-color: #ff7779;
}

.search .btn:hover {
  background-color: #fff;
  color: #ff7779;
}

.search .icon {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .search {
    position: absolute;
    margin-left: 0;
    top: 35px;
  }
}
